body {
    /* https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#0A2D73), to(black)) fixed;
    margin-bottom: 100px;
}

.trackName {
    color: white;
    font-size: 1.25em;
}

a:hover {
    color: inherit;
}

.number {
    font-size: 2.5em;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border-top: none;
}

.table {
    visibility: hidden;
}

.list-group-item {
    color: #0A2D73;
}

.playlist-container {
    margin-top: 80px;
}
  
img:hover {
    /* https://codepen.io/wifeo/pen/qzwkb */
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

.btn-lg:hover {
    transition: all 125ms ease-in;
    transform: scale(1.1);
}

.btn {
    color: white;
    background-color: #4CAF50;
    border-color: transparent;
}

.btn:hover {
    color: white;
    background-color: #4CAF50;
    border-color: transparent;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.navbar {
    background-color: #1C1E21;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: white;
}

.pause,
.pause:hover {
    background-color: #0066ff;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding-left: 8px;
    font-size: 14px;
    border-radius: 50%;
}

.time {
    margin-bottom: 2px;
}